[Unit]
Description=tm_rp Sync Module side %I
After=network.target

[Service]
User=root
WorkingDirectory=/home/tm_rp
Environment=/home/tm_rp/venv/bin
ExecStart=/home/tm_rp/venv/bin/python3 /home/tm_rp/tm_syncmodule.py -s %I

[Install]
WantedBy=multi-user.target
