[Unit]
Description=tm Sync Module side %I
After=network.target

[Service]
User=root
WorkingDirectory=/home/tm_rp
ExecStart=/home/tm_rp/python3 tm_syncmodule.py -s %I

[Install]
WantedBy=multi-user.target
