/* styles.css */

/* Основные стили тела документа, задают фон, тип шрифта и цвет текста */
body {
    background-color: rgb(80, 80, 80);  /* Темно-серый фон */
    font-family: Arial, sans-serif;     /* Семейство шрифтов Arial, запасной вариант - беззасеченный */
    color: white;                       /* Цвет текста - белый */
}

/* Контейнер для мнемосхемы, используется для управления позиционированием ячеек */
.schema {
    display: flex;             /* Блоки внутри контейнера выстраиваются в строку (flex-контейнер) */
    /*flex-wrap: wrap;           /* Позволяет элементам переноситься на следующую строку */
    justify-content: left;   /* Горизонтальное выравнивание содержимого по центру */
}

/* Стили для каждой отдельной ячейки внутри мнемосхемы */
.cell-container {
    display: flex;             /* Делает контейнер ячейки flex-контейнером */
    flex-direction: column;    /* Ориентация содержимого ячейки вертикально (столбец) */
    align-items: center;       /* Вертикальное выравнивание содержимого по центру */
    margin: 0px;              /* Отступ от других элементов вокруг каждой ячейки */
    padding: 0px;             /* Внутренний отступ вокруг содержимого внутри ячейки */
    /*border: 1px solid #ccc;    /* Тонкая серая рамка вокруг ячейки */
    width: 300px;              /* Фиксированная ширина каждой ячейки */
    background-color: rgb(80, 80, 80);  /* Темно-серый фон */
}

/* Стили для изображений внутри ячеек, ограничивающие их максимальную ширину */
.image {
    max-width: 100%;   /* Максимальная ширина изображения равна 100% контейнера */
    max-height: 300px; /* Максимальная высота изображения */
    object-fit: contain; /* Содержимое должно быть масштабировано, чтобы сохранять аспектное соотношение, но полностью помещаться внутри блока */
    width: auto; /* Ширина автоматически настраивается на основе высоты */
    height: auto; /* Высота автоматически настраивается на основе ширины */
}

/* Стили для текста внутри ячеек */
.text, .cell-number, .cell-name {
    text-align: center; /* Выравнивание текста по центру */
    font-weight: bold;  /* Жирный шрифт для текста */
    margin: 5px 0;      /* Вертикальные отступы между элементами текста */
}

.debug-output {
    white-space: pre-wrap;        /* Сохраняет пробелы и переносы строк, обеспечивает перенос текста */
    max-height: 150px;            /* Ограничивает максимальную высоту блока */
    overflow-y: auto;             /* Добавляет вертикальную прокрутку, если содержимое выходит за рамки */
    background-color: #f8f9fa;    /* Цвет фона для улучшения читаемости */
    border: 1px solid #ccc;       /* Граница вокруг блока */
    padding: 10px;                /* Отступы внутри блока */
    box-shadow: 0 2px 6px rgba(0,0,0,0.1); /* Тень для визуального выделения */
    margin-bottom: 20px;          /* Отступ снизу для разделения от других элементов */
    color: black;
}