[Unit]
Description=tm Web Application
After=network.target

[Service]
User=root
WorkingDirectory=/home/tm
Environment=/home/tm/venv/bin
ExecStart=/home/tm/venv/bin/waitress-serve --listen=0.0.0.0:5555 app_instance:app

[Install]
WantedBy=multi-user.target

